body{
  background-color:#EAF6F6;
  color:black;
}

h1,h2{
  color:#6F4C5B;
}

hr{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width:5px;
  width: 5%;
  }

a:hover{
  color: red;
  }
